{% extends 'base.html' %}
{% block content %}

  <section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4 mb-lg-0">
                                <img class="rounded-circle account-img" width="200" height="200" src="{{ user.profile.image.url }}">
                            </br>
                            {{p_form.image}}
                            </div>
                            <div class="col-lg-6 px-xl-10">
                                <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                    <h3 class="h2 text-white mb-0">{{ u_form.last_name }} {{u_form.first_name}}</h3>
                                    
                                </div>
                                <ul class="list-unstyled mb-1-9">
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Почта:</span> {{ u_form.email }}</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Должность:</span> {{ user.profile.get_job_title_display }}</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Отдел:</span> {{ user.profile.get_branch_display }}</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Наработка:</span> {{ user.profile.salary }}</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Последний вход:</span> {{ user.last_login }}</li>

                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mb-4 mb-sm-5">
                <button type="submit" class="btn btn-outline-dark" href = "{% url 'profile' %}">Обновить</button>
            </div>

            <div class="col-lg-12 mb-4 mb-sm-5">
                <div>
                    <span class="section-title text-primary mb-3 mb-sm-4">О компании</span>
                    <p>«NutriDrop» — это вымышленная организация, которая специализируется на доставке правильного питания людям, которые не могут приготовить себе еду или имеют особые диетические потребности. Они составляют индивидуальные планы питания, основанные на диетических потребностях и предпочтениях человека, и доставляют еду прямо к их порогу.</p>
                </div>
            </div>
            
        </div>
       
    </div>
</section>
{% endblock %}